<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="image/logo.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand&display=swap">
    <title>Vue Beginners 3</title>
    <style>
        body{
            margin: 5%;
            font-family: 'Quicksand', sans-serif;
        }

        .active{
            background: salmon;
            border: 0;
            padding: 5px;
        }

        .error{
            color: red;
        }

        .input-group {
            margin-bottom: 5px;
        }
        
    </style>
</head>
<body>

    <div id="app">
        <header-component nama="VueJs" gambar="image/logo.png"></header-component>

        <nav>
            <router-link to="/">Home</router-link>
            <router-link to="/about">About</router-link>
            <router-link to="/kelas">Kelas</router-link>
        </nav>

        <main>
            <div>
                <!-- <kelas v-bind:item="kelas" :input="kelasbaru"/> -->
                <!-- <kelas v-bind:item="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"></kelas> -->
                <hr>
                <!-- <home></home> -->
                <router-view v-bind:item="kelas" v-on:submitkelas="submitkelas" v-on:hapuskelas="hapuskelas"></router-view>
            </div>
        </main>

        <footer-component>
            <p>copyright 2021</p>
        </footer-component>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        const Home = {
            template: '<div>Home</div>'
        }
        const About = {
            template: '<div>About</div>'
        }
        const NotFound = {
            template: '<div>Halaman tidak ditemukan</div>'
        }
        const Kelas = {
            props: ['item'],
            template: `
            <div>
                <h2>Tambah Kelas</h2>
                <!-- <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="submit"></p>
                <p><input type="text" placeholder="Nama Kelas" v-on:keyup.enter="$emit('submitkelas', $event)"></p> -->
                
                <form v-on:submit.prevent="submitkelas">
                    <div class="input-group">
                        <input type="text" v-model="kelas.judul" placeholder="Nama Kelas">
                        <div class="error" v-if="error.judul"><small>{{ error.judul }}</small></div>    
                    </div>
                    <div class="input-group">
                        <label>Deskripsi:</label><br>
                        <textarea v-model="kelas.deskripsi"></textarea>
                        <div class="error" v-if="error.deskripsi"><small>{{ error.deskripsi }}</small></div>
                    </div>
                    
                    <div class="input-group">
                        <p><img :src="previewimg" v-if="previewimg" width="200"/></p>
                        <label>Masukan Gambar</label><br>
                        <input type="file" ref="gambar" v-on:change="upload">
                    </div>

                    <button type="submit">Submit</button>
                </form>

                <hr>
                <h4>daftar kelas ({{item.length}})</h4>
                <template v-if="item.length >= 1">
                <!-- <ul v-show="item.length >= 1"> -->
                    <ul>
                        <li v-for="(j, i) of item">
                            <img :src="'image/'+j.gambar" width="200" />
                            <p>
                                {{ i+1 }} - {{ j.judul }}
                                <a href="" v-on:click.prevent="$emit('hapuskelas', j.id)">hapus</a>
                            </p>
                        </li>
                    </ul>
                </template>
                <li v-else>kelas belum tersedia</li>
            </div>
                `,
            data: function(){
                return{
                    kelas: {
                        judul: '',
                        deskripsi: '',
                        gambar: ''
                    },
                    previewimg: "",
                    error: {
                        judul: '',
                        deskripsi: ''

                    }
                }
            },
            methods: {
                submitkelas: function(){
                    this.error.judul=""
                    this.error.deskripsi=""

                    if(this.kelas.judul == '') {
                        this.error.judul = 'Judul is required'
                    }
                    if(this.kelas.deskripsi == '') {
                        this.error.deskripsi = 'Deskripsi is required'
                    }
                    if(this.kelas.judul && this.kelas.deskripsi){
                        const data = {
                            id: uuidv4(),
                            judul: this.kelas.judul,
                            deskripsi: this.kelas.deskripsi,
                            gambar: this.kelas.gambar
                        }
                        this.$emit('submitkelas', data)
                        
                        this.kelas.judul = ""
                        this.kelas.deskripsi = ""
                        this.kelas.gambar = ""
                        this.previewimg = ""
                        this.$refs.gambar.value = ""
                    }
                },
                    upload: function(event){
                        const namagambar = (event.target.files[0].name)
                        this.kelas.gambar = namagambar
                        this.previewimg = URL.createObjectURL(event.target.files[0])
                    }
                }
            }
      
      
        Vue.component('header-component', {
            props: ['nama', 'gambar'],
            template: `
            <header>
                <img :src="gambar" width="80" height="80">
                
                <!-- <p>{{pesan}}</p> -->
                <!-- <p v-text="pesan"></p> -->

                <p>{{ 'Hello, '+nama }}</p>
            </header>
            `,
            data: function(){
                return {
                    pesan: 'hello, Component!'
                }
            }
        })
        Vue.component('footer-component', {
            template: `
            <footer>
            <slot></slot>
            </footer>
            `
        })
        
        const routes = [
            { path: '/', component: Home },
            { path: '/about', component: About },
            { path: '/kelas', component: Kelas },
            { path: '*', component: NotFound }
        ]
        const router = new VueRouter({
            mode: 'history',
            routes // short for `routes: routes`
        })

        // const member = {
        //     kelas: [
        //         {id: '1', judul: 'VueJs', deskripsi: 'Progressive JavaScript framework', gambar:'vuejs.jpg'},
        //         {id: '2', judul: 'ReactJs', deskripsi: 'Simple JavaScript framework', gambar:'reactjs.png'},
        //         {id: '3', judul: 'Angular', deskripsi: 'Special JavaScript framework', gambar:'angular.png'}
        //     ]
        // },
        
        const vm = new Vue({
            router,
            components: {
                'home': Home
            },
            // data: member.
            data: {
                kelas: []
            },
            created(){
                this.kelas = JSON.parse(localStorage.getItem('kelas')) || []
                console.log('created')
            },
            beforeCreate() {
                console.log('before-created')
            },
            mounted() {
                console.log('mounted')
            },
            beforeUpdate() {
                console.log('before-created')
            },
            updated() {
                console.log('updated')
            },
            methods: {
                hapuskelas: function(id){
                    this.kelas = this.kelas.filter(j => j.id != id)
                    localStorage.setItem('kelas', JSON.stringify(this.kelas))

                    Swal.fire({
                    position: 'top-end',
                    icon: 'warning',
                    title: 'Data Berhasil Dihapus',
                    showConfirmButton: false,
                    timer: 1500
                    })
                },
                submitkelas: function(data){
                    console.log(data)
                    this.kelas.push(data)
                    localStorage.setItem('kelas', JSON.stringify(this.kelas))

                    Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Data Berhasil Disimpan',
                    showConfirmButton: false,
                    timer: 1500
                    })
                }
            },
            computed: {
                
            }
        })
        vm.$mount('#app')
    </script>
</body>
</html>